div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  padding-top: 2px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media screen and (max-width: 39.9375em) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media screen and (max-width: 28.5214em) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.image-with-modal {
  cursor: pointer;
}