.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    margin-left: 30px;
    /* margin-top: 30px; */
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #303030;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }
  
  .sketchfab {
    margin: 50px 50px 50px 50px; 
  }

  
.topbar-center-logo {
  /* background: #2c3840; */
}

.topbar-center-logo .menu {
  /* background: #2c3840; */
}

.topbar-center-logo .menu a {
  /* color: #fefefe; */
}

.topbar-center-logo .top-bar-left {
  /* -webkit-flex: 1 0 auto; */
      /* -ms-flex: 1 0 auto;
          flex: 1 0 auto; */
          /* margin: auto;
          width: 50%; */
          /* padding: 10px; */
          text-align: center;
          width: 50%;
          margin: 0 auto;
          text-align: center;
}

.menu-bar-outer {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}

/* .full-width-div {
  position:absolute;
  left:0;
  right:0;
} */


@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .logo {
    display: none;
  }
}

.topbar-center-logo-mobile {
  /* background: #2c3840; */
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

.center-text-div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 30px 30px 30px 30px;
}

.sticky-full-width {
  width: 100%;
  /* border-bottom: 3px black; */
  border: 3px black;
  background-color: white;
}
/* 
.bottom-border {
  border-bottom: 3px solid black;
} */

/* fixes the mobile menu bar flashing */
.no-js [data-responsive-toggle] {
  display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html {
  overflow-y: scroll;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.mobile-title {
  font-size: 24px;
}

/* embeded video stuff below this */
/* 
.home-banner .slide .video-slide {

  background-color: #000; }


.home-banner.loading .video-background {

  opacity: 0; }


.video-background {

  position: absolute;

  top: 50%;

  left: 0;

  padding-top: 56.25%;

  width: 100%;

  -webkit-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  transform: translateY(-50%);

  -webkit-transition: 2s opacity ease;

  transition: 2s opacity ease;

  opacity: 1; 
}


.video-foreground,

.video-background iframe {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  pointer-events: none; 
} */

  #yt-wrap{
    position: fixed;
    left: 0;
    z-index: -99;
    position: fixed;
    top: -50%;
    left: 0;
    width: 100%;
    height: 200%;
    }
    #yt-wrap iframe{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    }