.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
    margin-left: 30px;
    /* margin-top: 30px; */
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #303030;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }
  
  .sketchfab {
    margin: 50px 50px 50px 50px; 
  }

  
.topbar-center-logo {
  /* background: #2c3840; */
}

.topbar-center-logo .menu {
  /* background: #2c3840; */
}

.topbar-center-logo .menu a {
  /* color: #fefefe; */
}

.topbar-center-logo .top-bar-left {
  /* -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; */
          /* margin: auto;
          width: 50%; */
          /* border: 3px solid green; */
          /* padding: 10px; */
          text-align: center;
          width: 50%;
          margin: 0 auto;
          text-align: center;
}

.menu-bar-outer {
  display: flex;
  justify-content: center;
  /* border: 3px solid red; */
}


@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  /* background: #2c3840; */
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}
